.container {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 2rem;
  background-color: grey;
  width: fit-content;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  cursor: pointer;
}

.button {
  color: white;
  background-color: transparent;
  border: none;
  pointer-events: none;
}
