.type {
  color: grey;
  font-size: 0.8rem;
}

.title {
  font-weight: 800;
}

.numericDetails {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0.5rem 0rem;
}

.number {
  font-weight: 800;
  font-size: 1.2rem;
  color: black;
}
