.container {
  width: 24rem;
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid grey;
}

.imgCover {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.content {
  padding: 0.5rem 1rem;
}
