.container {
  width: 24rem;
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid grey;
}

.imgCover {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.content {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.type {
  color: grey;
  font-size: 0.8rem;
}

.title {
  font-weight: 800;
}

.numericDetails {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0.8rem;
}

.number {
  font-weight: 800;
  font-size: 1.2rem;
  color: black;
}
