.container {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 1.1rem);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dialog {
  width: 30rem;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  animation: 0.2s slideInFromDown;
}

@media (max-width: 768px) {
  .container {
    width: 100vw;
  }
  .dialog {
    width: 22rem;
  }
}

@keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  display: flex;
  flex-direction: row-reverse;
}

.imgHeader {
  height: 2rem;
  cursor: pointer;
}
