.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 30rem;
  height: 30rem;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.header {
  display: flex;
  flex-direction: row-reverse;
}

.imgHeader {
  height: 2rem;
  cursor: pointer;
}
