.app {
  padding: 4rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo {
  height: 1.5rem;
}

.filters {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}
